<script src="/static/scripts.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
	<ul>
		<li><a href="/">Home</a></li>
        	<li><a href="/users">Users</a></li>
        	<li><a href="/projects">Projects</a></li>
        	<li><a href="/tasks">Tasks</a></li>
	</ul>
</nav>

<h1>Assign project</h1>

<form method="post">
	<div class='form'>
	<p>
	<label><b>Project:</b></label>
	<select id="project" name="project"></select>
	{% for project in projects %}
		<script>AddOption('project', '{{project.name}}');</script>
	{% endfor %}
	</p>
	<p>
	<label><b>Leader:</b></label>
	<select id="leader" name="leader"></select>
	{% for user in users %}
		<script>AddOption('leader', '{{user.username}}');</script>
	{% endfor %}
	</p>
	<button type="submit">Submit</button>
</form>



