<script src="/static/scripts.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
	<ul>
		<li><a href="/">Home</a></li>
        	<li><a href="/users">Users</a></li>
        	<li><a href="/projects">Projects</a></li>
        	<li><a href="/tasks">Tasks</a></li>
	</ul>
</nav>

<h1>Assign task</h1>

<form method="post">
	<div class='form'>
	<p>
	<label><b>Task:</b></label>
	<select id="task" name="task"></select>
	{% for task in tasks %}
		<script>AddOption('task', '{{task.name}}');</script>
	{% endfor %}
	</p>
	<p>
	<label><b>User:</b></label>
	<select id="user" name="user"></select>
	{% for user in users %}
		<script>AddOption('user', '{{user.username}}');</script>
	{% endfor %}
	</p>
	<button type="submit">Submit</button>

</form>


