
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
	<ul>
		<li><a href="/">Home</a></li>
        	<li><a href="/users">Users</a></li>
        	<li><a href="/projects">Projects</a></li>
        	<li><a href="/tasks">Tasks</a></li>
	</ul>
</nav>

{% block content %}

<div>
	<h1>Projects</h1>
	<h2><a href="/projects/add">Add</a></h2>
	<h3><a href="/projects/assign">Assign</a></h3>

	{% for project in projects %}

	<form method="post">
		<ul class="grid">
			<li class="block head">
        		<span>{{ project.name }}</span>
			</li>
			<li class="block">
        		<span>Leader:</span>
        		<span>{{ project.leader }}</span>
			</li>
			<li class="block">
        		<span>Users:</span>
        		<span>{{ project.users }}</span>
			</li>
			<li class="block">
        		<span>Tasks:</span>
			{% for task in project.tasks %}
        		<span><a href="tasks/{{task}}">{{task}}</a></span>
			{% endfor %}
			</li>
			
			<input type="hidden" name="name" value={{ project.name }}>
			<button type="submit" class="delete">Delete</button>
		</ul>
	</form>

	{% endfor %}

</div>

{% endblock %}

