
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
	<ul>
		<li><a href="/">Home</a></li>
        	<li><a href="/users">Users</a></li>
        	<li><a href="/projects">Projects</a></li>
        	<li><a href="/tasks">Tasks</a></li>
	</ul>
</nav>

{% block content %}

<div>
	<h1>Tasks</h1>
	<h2><a href="/tasks/add">Add</a></h2>
	<h3><a href="/tasks/assign">Assign</a></h3>

	{% for task in tasks %}

	<form method="post">
		<ul class="grid">
			<li class="block">
			<span>{{ task.name }}</span>
			</li>
			<li class="block">
			<span>Text:</span>
			<span>{{ task.text }}</span>
			</li>
			<li class="block">
			<span>Deadline:</span>
			<span>{{ task.deadline }}</span>
			</li>
			<li class="block">
			<span>Users:</span>
			<span>{{ task.users }}</span>
			</li>
			<input type="hidden" name="name" value={{ task.name }}>
			<button type="submit">Delete</button>
		</ul>
	</form>

	{% endfor %}

</div>

{% endblock %}
