
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
	<ul>
		<li><a href="/">Home</a></li>
        	<li><a href="/users">Users</a></li>
        	<li><a href="/projects">Projects</a></li>
        	<li><a href="/tasks">Tasks</a></li>
	</ul>
</nav>

{% block content %}

  <div class="container">
  <h1>Tasks</h1>
    {% for task in tasks %}
    <ul id="task.name">
      <li>
        <span class="field-name">Id:</span>
        <span class="field-value">{{ task.id }}</span>
      </li>
      <li>
        <span class="field-name">Task:</span>
        <span class="field-value">{{ task.name }}</span>
      </li>
      <li>
        <span class="field-name">Text:</span>
        <span class="field-value">{{ task.text }}</span>
      </li>
      <li>
        <span class="field-name">Deadline:</span>
        <span class="field-value">{{ task.deadline }}</span>
      </li>
      <li>
        <span class="field-name">Users:</span>
        <span class="field-value">{{ task.users }}</span>
      </li>
    </ul>
    {% endfor %}
  </div>

{% endblock %}