
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
	<ul>
		<li><a href="/">Home</a></li>
        	<li><a href="/users">Users</a></li>
        	<li><a href="/projects">Projects</a></li>
        	<li><a href="/tasks">Tasks</a></li>
	</ul>
</nav>

{% block content %}

<div>
	<h1>Users</h1>
	<h2><a href="/users/add">Add</a></h2>
	<h3><a href="/users/assign">Assign</a></h3>

	{% for user in users %}

	<form method="post">
		<ul class="grid">
			<li class="block head">
			<span>{{ user.username }}</span>
			</li>
			<li class="block">
			<span>Lead in projects:</span>
			<span>{{ user.leader.projects }}</span>
			</li>
			<li class="block">
			<span>Works on project:</span>
			<span>{{ user.projects }}</span>
			</li>
			<li class="block">
			<span>Current tasks:</span>
			<span>{{ user.tasks }}</span>
			</li>

			<input type="hidden" name="name" value={{ user.username }}>
			<button type="submit" class="delete">Delete</button>
		</ul>
	</form>

	{% endfor %}

</div>

{% endblock %}

